Package: mint-themes
Version: 999
Architecture: all
Maintainer: nobody-for-now <null@null.null>
Depends: mint-x-icons, mint-y-icons
Conflicts: cinnamon-themes, mint-clearloox-theme, mint-themes-gtk3, mint-x-theme, mint-y-theme, mint-z-theme
Replacess: cinnamon-themes, mint-clearloox-theme, mint-themes-gtk3, mint-x-theme, mint-y-theme, mint-z-theme
Section: gnome
Priority: optional
Description: DELETE MINT THEMES!
