.file-label {
    text-shadow:-1px 1px 3px #000, 1px 1px 3px #000, 1px -1px 3px #000;
    color: white;
}

label.file-label:backdrop {
    text-shadow:-1px 1px 3px #000, 1px 1px 3px #000, 1px -1px 3px #000;
    color: white;
}

.file-item-hover {
   background-color: rgba(238, 238, 238, 0.2);
}
